# Ignore Python bytecode files
utils/__pycache__/
__pycache__
.pytest_cache/
tests/__pycache__/
.coverage
# Ignore sensitive or environment-specific files
.env
.env.*

# Ignore virtual environment directories
my_python_project_env/
venv/
.venv/